@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body,html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    overflow: hidden;
}
*{
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #c2cede;
    /* background-image: url("Referance/My\ Projects\ V2.png"); */
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar{
    width: .6rem;
    background-color: rgba(0, 0, 0, 0.03);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(13, 13, 13, 0.096);
    border-radius: 5px;
}
.Container{
    width: 100%;
    height: 100%;
    display: flex;
}
.Profile-Main{
    height: 100%;
    width: 370px;
    box-sizing: border-box;
    padding: 20px;
}
.Profile-Details{
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Profile-Image{
    width: 100%;
    height: 270px;
    display: grid;
    place-items: center;
}
.Profile-Image >img{
    height: 15rem;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
.Name{
    height: fit-content;
    margin: 0;
    margin-top: 8px;
    font-size: 2.2rem;
}

.Pro{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    height: fit-content;
    font-size: 1.25rem;
    margin: 0;
    margin-top: -12px;
    padding: 0;
    min-height: 1.9rem;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.23);
    /* background-color: red; */
    /* display: inline-block; */
    /* white-space: nowrap; */
}
/* .typing-effect {
    border-right: 2px solid #000;
    animation: blink 0.6s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  } */
.PDesc{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    height: fit-content;
    margin: 0;
    margin-top: 12px;
    font-size: 1.13rem;
    max-width: 450px;
}
.Profile-Footer{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}
.Profile-Footer> div{
    height: 42px;
    width: 60%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}
.Profile-Footer img{
    height: 100%;
}
.MainDetails{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}
.Basic-Details{
    width: 100%;
}
.Repos-Main{
    background-color: rgba(0, 140, 255, 0.088);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    flex-grow: 1;
    width: 80vw;
    box-sizing: border-box;
    padding: 27px 55px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.My-Project{
    margin: 0;
    font-size: 29px;
}
.repos-data{
    width: 100%;
    flex-grow: 1;
}
.repo-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 0;
}
.Repo{
    transform: scale(0);
    transition: transform .6s ease-in-out;
    opacity: 0;
    /* height: 10.5rem; */
    /* width: 31.2rem; */
    background-color: #ffffff4b;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);
    display: grid;
    grid-template-columns: 15px 1fr;
    gap: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, 0.227);
}
.Repo.Show{
    opacity: 1;
    transform: scale(1);
}
.DataShow{
    padding: 10px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.SideColor.Complete{
    background-color: #03c741;
}
.SideColor.Pending{
    background-color: #db0000;
}
.SideColor.Prototype{
    background-color: #db8300;
}

.DataShow h3{
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}
.DataShow > span{
    min-height:55px;
    color: #888888;
    width: fit-content;
    font-size: .85rem;
    line-height: 1.3rem;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    
}
.repo-footer{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    margin-top: 10px;
}
.languages{
    height: fit-content;
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 10px;
}
.languages span{
    background-color: #ececec6b;
    width: fit-content;
    height: fit-content;
    padding: 3px 13px;
    border-radius: 4px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.button{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.button button{
    cursor: pointer;
    border: none;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
}
.Visit-button{
    background-color: #2BC201;
    padding: 5px 35px;
}
.Repository-button{
    background-color: #008BCC;
    padding: 5px 10px;
}
@media (min-width:1200px) {
    .Repos-Main{
        overflow: scroll;
    }
}
@media (min-width:1550px) {
    .repo-details{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1450px) {
    .repo-details{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .DataShow > span{
        font-size: .75rem;
        line-height: 1.2rem;
    }
    
}

@media (max-width:1200px) {
    .Container{
        flex-direction: column;
        overflow: auto;
    }
    .Repos-Main{
        height: fit-content;
    }
    
    .Profile-Main{
        width: 100%;
        padding: 0;
        height: fit-content;
    }
    .MainDetails{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .Profile-Image >img{
        height: 12rem;
    }
    .PDesc{
        max-width: 400px;
    }
    .Profile-Image{
        width: fit-content;
        height: 220px;
        margin-top: 10px;
    }
    .Basic-Details{
        width: fit-content;
    }
    .PDesc{
        font-size: 1rem;
    }
    .Profile-Footer> div{
        padding: 10px;
    }
    .Profile-Footer> div{
        height: 35px;
        max-width: 130px;
    }
    .Repos-Main{
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}
/* @media (max-width:1000px) {
    .DataShow > span{
        font-size: 11px;
        line-height: 18px;
    }
} */
@media (max-width:550px) {
    .My-Project{
        font-size: 20px;
        margin-top: 10px;
    }
    .DataShow h3{
        font-size: 18px;
        line-height: 22px;
    }
    .DataShow > span{
        font-size: 11px;
        line-height: 18px;
    }
    .Repo{
        width: 100%;
    }
    .button button{
        font-size: 11px;
    }
    .languages span{
        font-size: 9px;
        height: fit-content;
        padding: 3px 5px;
    }
    .languages{
        gap: 4px;
    }
    .Visit-button{
        padding: 4px 9px;
    }
    .Repository-button{
        padding: 4px 9px;
    }
}
@media (max-width:616px) {
    .Repos-Main{
        padding: 10px;
    }
    .repo-details{
        padding: 0;
    }
}



@media (max-width:470px) {
    .Profile-Image >img{
        height: 9rem;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    }
    .Profile-Details{
        padding: 0 15px;
    }
    .Name{
        font-size: 2.2rem;
    }
    .Pro{
        font-size: 1.2rem;
    }
    .MainDetails{
        gap: 15px;
        height: fit-content;
        width: 100%;
        justify-content: start;
    }
    .Profile-Image{
        height: fit-content;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .Profile-Main{
        padding: 0;
    }
    .PDesc{
        font-size: .9rem;
        width: 100%;
        margin-top: 0px;
    }
    
    .Profile-Footer{
        padding: 5px;
    }
    .Profile-Footer> div{
        height: 30px;
        max-width: 110px;
    }
}

@media (max-width:360px) {
    .Profile-Image >img{
        height: 6rem;
    }
}
.loaderActive{
  overflow: hidden;
}
.loader-screen{
  display: none;
}
.loaderActive .loader-screen{
  background-color: #c2cede;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 51;
  display: grid;
}

/* From Uiverse.io by gsperandio */ 
.cubes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.loop {
  transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
  to {
    transform: scale3d(0.2, 0.2, 0.2);
  }
}

.item {
  margin: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  transform-origin: 50% 50% -1.5625em;
  box-shadow: 0 0 0.125em currentColor;
  background: currentColor;
  animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: 0 100%;
  box-shadow: inherit;
  background: currentColor;
  content: "";
}

.item:before {
  bottom: 100%;
  transform: rotateX(90deg);
}

.item:after {
  left: 100%;
  transform: rotateY(90deg);
}

.item:nth-child(1) {
  margin-top: 6.25em;
  color: #1e9dfe;
  animation-delay: -1.2s;
}

.item:nth-child(1):before {
  color: #1286df;
}

.item:nth-child(1):after {
  color: #1473bc;
}

.item:nth-child(2) {
  margin-top: 3.125em;
  color: #1e9dfe;
  animation-delay: -1s;
}

.item:nth-child(2):before {
  color: #1286df;
}

.item:nth-child(2):after {
  color: #1473bc;
}

.item:nth-child(3) {
  margin-top: 0em;
  color: #1e9dfe;
  animation-delay: -0.8s;
}

.item:nth-child(3):before {
  color: #1286df;
}

.item:nth-child(3):after {
  color: #1473bc;
}

.item:nth-child(4) {
  margin-top: -3.125em;
  color: #1e9dfe;
  animation-delay: -0.6s;
}

.item:nth-child(4):before {
  color: #1286df;
}

.item:nth-child(4):after {
  color: #1473bc;
}

.item:nth-child(5) {
  margin-top: -6.25em;
  color: #1e9dfe;
  animation-delay: -0.4s;
}

.item:nth-child(5):before {
  color: #1286df;
}

.item:nth-child(5):after {
  color: #1473bc;
}

.item:nth-child(6) {
  margin-top: -9.375em;
  color: #1e9dfe;
  animation-delay: -0.2s;
}

.item:nth-child(6):before {
  color: #1286df;
}

.item:nth-child(6):after {
  color: #1473bc;
}